/* Modal Popup Styling */
.modal {
    display: none;
    position: absolute;
    z-index: 100000;
    width: 450px;
    background-color: white;
    border: 2px solid #444;
    border-radius: 36px;
    padding: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.modal-header {
    font-size: 18px;
    font-weight: bold;
}

.modal-body {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.modal-footer {
    /*margin-top: 20px;*/
    text-align: right;
}

.modal-footer button {
    /*margin-left: 10px;*/
    padding: 8px 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-footer-blue {
    background-color: #007bff;
}

.modal-footer-red {
    background-color: #ee6c6c;
}


/* Highlighted Field */
.highlight {
    border: 2px solid #007bff;
    box-shadow: inset 4px 3px 40px 80px rgb(17 17 17 / 82%);
}





.right-sidebar-toggler-wrapper {
    top: 5px;
    bottom: auto;
    z-index: 2000;
}
.status-success {
    border-left-color: green !important; /* Indicator color for success */
}

.status-warning {
    border-left-color: orange !important; /* Indicator color for warning */
}

.status-error {
    border-left-color: red !important; /* Indicator color for error */
}

.swal2-html-container{
    height: inherit;
}

.swal2-modal {
    min-height: -webkit-fill-available;
}

.select2-selection__arrow {
    display: none;
}

.select2-container--default
.select2-selection--single
.select2-selection__clear {
    height: 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
}

.textAreaPadding {
    padding: 5px 11px;
}

.alert {
    --bs-alert-margin-bottom: 1px;
}

@media (min-width: 800px) {
    .seachbaarwidth {
        width: 380px;
    }

    .swal2-popup {
        width: inherit !important;
        font-size: 9px !important;
        min-width: 300px !important;
    }
    .swal2-title {
        font-size: 13px !important;
    }
    .swal2-actions {
        font-size: 9px !important;
    }
    .swal2-content {
        font-size: 12px;
    }
    .sidepanelfontClass {
        font-weight: bold !important;
        font-size: 8px !important; /* Adjust as needed */
    }

    .iconFontSize {
        font-size: 9px;
    }

    .mainiconFontSize {
        font-size: 24px;
    }

    .mainiconTileHeight {
        height: 34px;
    }

    .alert_padding {
        padding: 7px;
    }

    .headerbuttonStyle {
        width: 21px;
        height: 27px;
    }

    .headerbuttonIconStyle {
        margin-left: -6px !important;
        font-size: 12px !important;
    }

    .mainsearchbox {
        height: 28px;
        font-size: 8px !important;
    }

    .sectionheaderFontHeight {
        min-height: 33px;
        font-size: 13px;
    }

    .vehicleCustDetailsTab {
        height: 100px;
    }

    .table th,
    .jsgrid .jsgrid-table th,
    .table td,
    .jsgrid .jsgrid-table td {
        padding: 4px;
        line-height: 9px;
    }

    .multiAddpopupButton {
        font-weight: bold;
        font-size: 8px;
    }

    .multiAddpopupText {
        font-weight: bold;
        font-size: 10px;
    }

    ::placeholder {
        color: gray !important;
        font-size: 7px !important;
        font-style: italic !important;
    }

    input::-webkit-input-placeholder {
        color: gray;
        font-size: 7px !important;
    }

    input:-ms-input-placeholder {
        color: gray;
        font-size: 7px !important;
    }

    input::-moz-placeholder {
        color: gray;
        font-size: 7px !important;
    }

    input:-moz-placeholder {
        color: gray;
        font-size: 7px !important;
    }

    .select2-container--default .select2-selection--single {
        height: 18px !important;
        padding: 1px !important;
    }

    .select2-results__option {
        font-size: 8px;
        font-weight: bold;
    }

    .select2-search--dropdown .select2-search__field {
        font-size: 8px;
    }

    .select2-container--default .select2-dropdown .select2-search__field {
        font-size: 8px;
        border-color: #10224e !important;
    }

    .select2-container .select2-selection--single {
        font-size: 8px !important;
    }

    .tooltip-header {
        font-weight: bold;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        font-size: 11px;
    }

    .tooltip-table {
        border-collapse: collapse;
        font-size: 7px !important;
    }

    .thStyle {
        font-size: 9px !important;
        color: #706b6b !important;
        font-weight: bold !important;
    }

    .inputStyle {
        padding: 6px !important;
        width: -webkit-fill-available !important;
        font-weight: 600 !important;
        color: #000 !important;
        font-size: 8px !important;
    }

    ol li,
    dl li {
        line-height: 7px;
    }

    .btn {
        line-height: 0px;
    }

    .tooltip-table th,
    .tooltip-table td {
        border: 1px solid #ddd;
        padding: 5px;
        font-weight: bold;
    }

    .popupLinemargin {
        font-weight: bold;
        margin-top: 4px;
    }
    .popupleftsection {
        width: 430px;
    }
    .popuprightsection {
        width: 280px;
    }
    .popup-item {
        width: 720px;
        padding: 5px;
    }
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 460px;
        overflow-y: auto;
        max-width: 800px;
    }
	.popuptckt {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 460px;
        overflow-y: auto;
        max-width: 800px;
        min-width: 100px;
    }

    .popupMulti {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 580px;
        overflow-y: auto;
        min-width: 480px;
        width: 980px;
        height: 380px;
    }

    .checkbox-wrapper-25 input[type="checkbox"] {
        background-image: -webkit-linear-gradient(
                hsla(0, 0%, 0%, 0.1),
                hsla(0, 0%, 100%, 0.1)
        ),
        -webkit-linear-gradient(left, #66a1ff 50%, #6cf 50%);
        background-size: 100% 100%, 200% 100%;
        background-position: 0 0, 15px 0;
        border-radius: 25px;
        box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.5),
        inset 0 0 10px hsla(0, 0%, 0%, 0.5), 0 0 0 1px hsla(0, 0%, 0%, 0.1),
        0 -1px 2px 2px hsla(0, 0%, 0%, 0.25),
        0 2px 2px 2px hsla(0, 0%, 100%, 0.75);
        cursor: pointer;
        height: 17px;
        padding-right: 25px;
        width: 50px;
        -webkit-appearance: none;
        -webkit-transition: 0.25s;
    }

    .checkbox-wrapper-25 input[type="checkbox"]:after {
        background-color: #eee;
        background-image: -webkit-linear-gradient(
                hsla(0, 0%, 100%, 0.1),
                hsla(0, 0%, 0%, 0.1)
        );
        border-radius: 25px;
        box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
        inset 0 -1px 1px 1px hsla(0, 0%, 0%, 0.25),
        0 1px 3px 1px hsla(0, 0%, 0%, 0.5), 0 0 2px hsla(0, 0%, 0%, 0.25);
        content: "";
        display: block;
        height: 17px;
        width: 30px;
    }

    .checkbox-wrapper-25 input[type="checkbox"]:checked {
        background-position: 0 0, 35px 0;
        padding-left: 17px;
        padding-right: 0;
    }
}

@media (min-width: 1050px) {
    .seachbaarwidth {
        width: 550px;
    }

    .swal2-popup {
        width: inherit !important;
        font-size: 9px !important;
        min-width: 300px !important;
    }
    .swal2-title {
        font-size: 17px !important;
    }
    .swal2-actions {
        font-size: 12px !important;
    }
    .swal2-content {
        font-size: 13px;
    }
    .sidepanelfontClass {
        font-weight: bold !important;
        font-size: 11px !important;
    }

    .iconFontSize {
        font-size: 12px;
    }

    .mainiconFontSize {
        font-size: 28px;
    }

    .mainiconTileHeight {
        height: 40px;
    }

    .alert_padding {
        padding: 10px;
    }

    .headerbuttonStyle {
        width: 28px;
        height: 31px;
    }

    .headerbuttonIconStyle {
        margin-left: -6px !important;
        font-size: 14px !important;
    }

    .mainsearchbox {
        height: 32px;
        font-size: 10px !important;
    }

    .sectionheaderFontHeight {
        min-height: 37px;
        font-size: 16px;
    }

    .vehicleCustDetailsTab {
        height: 120px;
    }

    .table th,
    .jsgrid .jsgrid-table th,
    .table td,
    .jsgrid .jsgrid-table td {
        padding: 6px;
        line-height: 12px;
    }

    .multiAddpopupButton {
        font-weight: bold;
        font-size: 10px;
    }

    .multiAddpopupText {
        font-weight: bold;
        font-size: 12px;
    }

    ::placeholder {
        color: gray !important;
        font-size: 9px !important;
        font-style: italic !important;
    }

    input::-webkit-input-placeholder {
        color: gray;
        font-size: 9px !important;
    }

    input:-ms-input-placeholder {
        color: gray;
        font-size: 9px !important;
    }

    input::-moz-placeholder {
        color: gray;
        font-size: 9px !important;
    }

    input:-moz-placeholder {
        color: gray;
        font-size: 9px !important;
    }

    .select2-container--default .select2-selection--single {
        height: 22px !important;
        padding: 2px 2px !important;
    }

    .select2-results__option {
        font-size: 10px;
        font-weight: bold;
    }

    .select2-search--dropdown .select2-search__field {
        font-size: 10px;
    }

    .select2-container--default .select2-dropdown .select2-search__field {
        font-size: 10px;
        border-color: #10224e !important;
    }

    .select2-container .select2-selection--single {
        font-size: 10px !important;
    }

    .tooltip-header {
        font-weight: bold;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        font-size: 13px;
    }

    .tooltip-table {
        border-collapse: collapse;
        font-size: 9px !important;
    }

    .thStyle {
        font-size: 11px !important;
        color: #706b6b !important;
        font-weight: bold !important;
    }

    .inputStyle {
        padding: 8px !important;
        width: -webkit-fill-available !important;
        font-weight: 600 !important;
        color: #000 !important;
        font-size: 10px !important;
    }

    ol li,
    dl li {
        line-height: 11px;
    }

    .btn {
        line-height: 7px;
    }

    .tooltip-table th,
    .tooltip-table td {
        border: 1px solid #ddd;
        padding: 8px;
        font-weight: bold;
    }

    .popupLinemargin {
        font-weight: bold;
        margin-top: 4px;
    }
    .popupleftsection {
        width: 430px;
    }
    .popuprightsection {
        width: 280px;
    }
    .popup-item {
        width: 720px;
        padding: 5px;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 55px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 520px;
        overflow-y: auto;
        min-width: 550px;
    }
	.popuptckt {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 55px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 520px;
        overflow-y: auto;
        max-width: 550px;
        min-width: 100px;
    }

    .popupMulti {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 620px;
        overflow-y: auto;
        min-width: 550px;
        width: 1050px;
        height: 420px;
    }

    .checkbox-wrapper-25 input[type="checkbox"] {
        background-image: -webkit-linear-gradient(
                hsla(0, 0%, 0%, 0.1),
                hsla(0, 0%, 100%, 0.1)
        ),
        -webkit-linear-gradient(left, #66a1ff 50%, #6cf 50%);
        background-size: 100% 100%, 200% 100%;
        background-position: 0 0, 15px 0;
        border-radius: 25px;
        box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.5),
        inset 0 0 10px hsla(0, 0%, 0%, 0.5), 0 0 0 1px hsla(0, 0%, 0%, 0.1),
        0 -1px 2px 2px hsla(0, 0%, 0%, 0.25),
        0 2px 2px 2px hsla(0, 0%, 100%, 0.75);
        cursor: pointer;
        height: 19px;
        padding-right: 25px;
        width: 55px;
        -webkit-appearance: none;
        -webkit-transition: 0.25s;
    }

    .checkbox-wrapper-25 input[type="checkbox"]:after {
        background-color: #eee;
        background-image: -webkit-linear-gradient(
                hsla(0, 0%, 100%, 0.1),
                hsla(0, 0%, 0%, 0.1)
        );
        border-radius: 25px;
        box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
        inset 0 -1px 1px 1px hsla(0, 0%, 0%, 0.25),
        0 1px 3px 1px hsla(0, 0%, 0%, 0.5), 0 0 2px hsla(0, 0%, 0%, 0.25);
        content: "";
        display: block;
        height: 19px;
        width: 32px;
    }

    .checkbox-wrapper-25 input[type="checkbox"]:checked {
        background-position: 0 0, 37px 0;
        padding-left: 19px;
        padding-right: 0;
    }
}

@media (min-width: 1300px) {
    .seachbaarwidth {
        width: 550px;
    }

    .swal2-popup {
        width: inherit !important;
        font-size: 9px !important;
        min-width: 300px !important;
    }
    .swal2-title {
        font-size: 13px !important;
    }
    .swal2-button {
        font-size: 10px !important;
    }
    .swal2-content {
        font-size: 12px;
    }
    .sidepanelfontClass {
        font-weight: bold !important;
        font-size: 14px !important;
    }

    .iconFontSize {
        font-size: 14px;
    }
    .mainiconFontSize {
        font-size: 30px;
    }
    + .mainiconTileHeight {
        height: 44px;
    }
    .alert_padding {
        padding: 12px;
    }

    .headerbuttonStyle {
        width: 31px;
        height: 33px;
    }

    .headerbuttonIconStyle {
        margin-left: -7px !important;
        font-size: 16px !important;
    }

    .mainsearchbox {
        height: 34px;
        font-size: 11px !important;
    }

    .sectionheaderFontHeight {
        min-height: 45px;
        font-size: 18px;
    }

    .vehicleCustDetailsTab {
        height: 130px;
    }

    .table th,
    .jsgrid .jsgrid-table th,
    .table td,
    .jsgrid .jsgrid-table td {
        padding: 7px;
        line-height: 14px;
    }

    .multiAddpopupButton {
        font-weight: bold;
        font-size: 11px;
    }

    .multiAddpopupText {
        font-weight: bold;
        font-size: 13px;
    }

    ::placeholder {
        color: gray !important;
        font-size: 10px !important;
        font-style: italic !important;
    }

    input::-webkit-input-placeholder {
        color: gray;
        font-size: 10px !important;
    }

    input:-ms-input-placeholder {
        color: gray;
        font-size: 10px !important;
    }

    input::-moz-placeholder {
        color: gray;
        font-size: 10px !important;
    }

    input:-moz-placeholder {
        color: gray;
        font-size: 10px !important;
    }

    .select2-container--default .select2-selection--single {
        height: 24px !important;
        padding: 3px 3px !important;
    }

    .select2-results__option {
        font-size: 11px;
        font-weight: bold;
    }

    .select2-search--dropdown .select2-search__field {
        font-size: 11px;
    }

    .select2-container--default .select2-dropdown .select2-search__field {
        font-size: 11px;
        border-color: #10224e !important;
    }

    .select2-container .select2-selection--single {
        font-size: 13px !important;
    }

    .tooltip-header {
        font-weight: bold;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        font-size: 14px;
    }

    .tooltip-table {
        border-collapse: collapse;
        font-size: 11px !important;
    }

    .thStyle {
        font-size: 12px !important;
        color: #706b6b !important;
        font-weight: bold !important;
    }

    .inputStyle {
        padding: 9px !important;
        width: -webkit-fill-available !important;
        font-weight: 600 !important;
        color: #000 !important;
        font-size: 11px !important;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 60px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 540px;
        overflow-y: auto;
        min-width: 600px;
    } 
	.popuptckt {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 60px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 540px;
        overflow-y: auto;
        max-width: 600px;
        min-width: 100px;
    }

    .popupMulti {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 35px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 640px;
        overflow-y: auto;
        min-width: 600px;
        width: 1100px;
        height: 440px;
    }

    .checkbox-wrapper-25 input[type="checkbox"] {
        background-image: -webkit-linear-gradient(
                hsla(0, 0%, 0%, 0.1),
                hsla(0, 0%, 100%, 0.1)
        ),
        -webkit-linear-gradient(left, #66a1ff 50%, #6cf 50%);
        background-size: 100% 100%, 200% 100%;
        background-position: 0 0, 15px 0;
        border-radius: 25px;
        box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.5),
        inset 0 0 10px hsla(0, 0%, 0%, 0.5), 0 0 0 1px hsla(0, 0%, 0%, 0.1),
        0 -1px 2px 2px hsla(0, 0%, 0%, 0.25),
        0 2px 2px 2px hsla(0, 0%, 100%, 0.75);
        cursor: pointer;
        height: 21px;
        padding-right: 25px;
        width: 60px;
        -webkit-appearance: none;
        -webkit-transition: 0.25s;
    }
    .checkbox-wrapper-25 input[type="checkbox"]:after {
        background-color: #eee;
        background-image: -webkit-linear-gradient(
                hsla(0, 0%, 100%, 0.1),
                hsla(0, 0%, 0%, 0.1)
        );
        border-radius: 25px;
        box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
        inset 0 -1px 1px 1px hsla(0, 0%, 0%, 0.25),
        0 1px 3px 1px hsla(0, 0%, 0%, 0.5), 0 0 2px hsla(0, 0%, 0%, 0.25);
        content: "";
        display: block;
        height: 21px;
        width: 34px;
    }
    .checkbox-wrapper-25 input[type="checkbox"]:checked {
        background-position: 0 0, 39px 0;
        padding-left: 21px;
        padding-right: 0;
    }
}

@media (min-width: 1450px) {

    .inputstyleWidth{
        width: 90px !important;
    }
    .seachbaarwidth {
        width: 750px;
    }
    .textAreaPadding {
        padding: 16px 14px;
    }
    .swal2-popup {
        width: inherit !important;
        font-size: 9px !important;
        min-width: 300px !important;
    }
    .swal2-title {
        font-size: 13px !important;
    }
    .swal2-button {
        font-size: 10px !important;
    }
    .swal2-content {
        font-size: 12px;
    }
    .sidepanelfontClass {
        font-weight: bold !important;
        font-size: 16px !important;
    }

    .iconFontSize {
        font-size: 18px;
    }

    .mainiconFontSize {
        font-size: 40px;
    }

    .mainiconTileHeight {
        height: 55px;
    }

    .alert_padding {
        padding: 16px;
    }

    .headerbuttonStyle {
        width: 45px;
        height: 44px;
    }

    .headerbuttonIconStyle {
        margin-left: -5px !important;
        font-size: 20px !important;
    }

    .mainsearchbox {
        height: 42px;
        font-size: 15px !important;
    }

    .sectionheaderFontHeight {
        min-height: 55px;
        font-size: 22px;
    }

    .vehicleCustDetailsTab {
        height: 165px;
    }

    .table th,
    .jsgrid .jsgrid-table th,
    .table td,
    .jsgrid .jsgrid-table td {
        padding: 10px;
        line-height: 18px;
    }

    .multiAddpopupButton {
        font-weight: bold;
        font-size: 15px;
    }

    .multiAddpopupText {
        font-weight: bold;
        font-size: 17px;
    }

    ::placeholder {
        color: gray !important;
        font-size: 14px !important;
        font-style: italic !important;
    }

    input::-webkit-input-placeholder {
        color: gray;
        font-size: 14px !important;
    }

    input:-ms-input-placeholder {
        color: gray;
        font-size: 14px !important;
    }

    input::-moz-placeholder {
        color: gray;
        font-size: 14px !important;
    }

    input:-moz-placeholder {
        color: gray;
        font-size: 14px !important;
    }

    .select2-container--default .select2-selection--single {
        height: 30px !important;
        padding: 5px 5px !important;
    }

    .select2-results__option {
        font-size: 15px;
        font-weight: bold;
    }

    .select2-search--dropdown .select2-search__field {
        font-size: 15px;
    }

    .select2-container--default .select2-dropdown .select2-search__field {
        font-size: 15px;
        border-color: #10224e !important;
    }

    .select2-container .select2-selection--single {
        font-size: 16px !important;
    }

    .tooltip-header {
        font-weight: bold;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        font-size: 18px;
    }

    .tooltip-table {
        border-collapse: collapse;
        font-size: 14px !important;
    }

    .thStyle {
        font-size: 16px !important;
        color: #0909d296 !important;
        font-weight: bold !important;
    }

    .inputStyle {
        padding: 6px !important;
        /*width: -webkit-fill-available !important;*/
        font-weight: 600 !important;
        color: #000 !important;
        font-size: 14px !important;
    }

    ol li,
    dl li {
        line-height: 23px;
    }

    .btn {
        line-height: 20px;
    }

    .tooltip-table th,
    .tooltip-table td {
        border: 1px solid #ddd;
        padding: 8px;
        font-weight: bold;
    }

    .popupLinemargin {
        font-weight: bold;
        margin-top: 4px;
    }
    .popupleftsection {
        width: 730px;
    }
    .popuprightsection {
        width: 480px;
    }
    .popup-item {
        width: 1320px;
        padding: 5px;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 80px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 800px;
        overflow-y: auto;
        min-width: 1400px;
    }
	.popuptckt {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 80px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 800px;
        overflow-y: auto;
        max-width: 1400px;
        min-width: 200px;
    }

    .popupMulti {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 750px;
        overflow-y: auto;
        min-width: 800px;
        width: 1300px;
        height: 550px;
    }

    .checkbox-wrapper-25 input[type="checkbox"] {
        background-image: -webkit-linear-gradient(
                hsla(0, 0%, 0%, 0.1),
                hsla(0, 0%, 100%, 0.1)
        ),
        -webkit-linear-gradient(left, #66a1ff 50%, #6cf 50%);
        background-size: 100% 100%, 200% 100%;
        background-position: 0 0, 15px 0;
        border-radius: 25px;
        box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.5),
        inset 0 0 10px hsla(0, 0%, 0%, 0.5), 0 0 0 1px hsla(0, 0%, 0%, 0.1),
        0 -1px 2px 2px hsla(0, 0%, 0%, 0.25),
        0 2px 2px 2px hsla(0, 0%, 100%, 0.75);
        cursor: pointer;
        height: 28px;
        padding-right: 35px;
        width: 80px;
        -webkit-appearance: none;
        -webkit-transition: 0.25s;
    }

    .checkbox-wrapper-25 input[type="checkbox"]:after {
        background-color: #eee;
        background-image: -webkit-linear-gradient(
                hsla(0, 0%, 100%, 0.1),
                hsla(0, 0%, 0%, 0.1)
        );
        border-radius: 25px;
        box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
        inset 0 -1px 1px 1px hsla(0, 0%, 0%, 0.25),
        0 1px 3px 1px hsla(0, 0%, 0%, 0.5), 0 0 2px hsla(0, 0%, 0%, 0.25);
        content: "";
        display: block;
        height: 28px;
        width: 45px;
    }

    .checkbox-wrapper-25 input[type="checkbox"]:checked {
        background-position: 0 0, 50px 0;
        padding-left: 28px;
        padding-right: 0;
    }
}

.owl-dots {
    display: none !important;
}

.datetime-wrapper {
}
.datetime-label {
    display: block;
    margin-bottom: 5px;
}
.datetime-input {
    padding: 5px;
}

.select2-container .select2-selection--single {
    height: 50px; /* Adjust the height of the dropdown */
    font-size: 16px; /* Change font size */
    font-weight: bold; /* Make font bold */
    border: none !important;
    background: none !important;
    color: #706b6b;
    text-align: right;
}

.settings-panel {
    width: 450px;
    right: -450px;
}

#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

.loader {
//   border: 16px solid #f3f3f3;
//   border-radius: 50%;
//   border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
//   -webkit-animation: spin 2s linear infinite;
//   animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

.div_3d {
    box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px !important;
    border-radius: 15px !important;
    border: 1px solid !important;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204) !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border-bottom: 1px solid #dee2e6;
}
input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #dee2e6;
    padding: 8px;
}
.non-editable {
    background-color: transparent;
    border: none;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.dropdown-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}
.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
}
.dropdown-item:hover {
    background-color: #f1f1f1;
}

.tooltip-table th {
    background-color: #f2f2f2;
}

.tooltip-trigger {
    cursor: pointer;
}
.tooltip {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 900px;
    overflow-y: auto;
    min-width: 1200px;
}
/*.tooltip table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/
/*.tooltip table,*/
/*.tooltip th,*/
/*.tooltip td {*/
/*    border: 1px solid #ddd;*/
/*    padding: 8px;*/
/*}*/
/*.tooltip th {*/
/*    background-color: #f2f2f2;*/
/*}*/
.tooltip .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.tooltip-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.backgroupColorADVS {
    background-color: #f2f2f2;
}

#autocompleteContainer {
    position: relative;
    margin-top: 20px;
}

#autocompleteList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

#autocompleteList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#autocompleteList li {
    padding: 5px 10px;
    cursor: pointer;
}

#autocompleteList li:hover {
    background-color: #f0f0f0;
}

.ui-state-active {
    color: black !important;
}

.ui-autocomplete {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 888;
    list-style: none; /* Remove default list style */
    padding: 0;
    margin: 0;
}

.ui-autocomplete li {
    padding: 8px 12px;
    cursor: pointer;
}

.ui-autocomplete li:hover {
    background-color: #f0f0f0;
}

.advs_multi_button {
    font-size: 15px !important;
    font-weight: bold !important;
}

.button {
    background-color: #04aa6d; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

#dropArea {
    border: 2px dashed #da8080;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: #e2d5ee;
}

#dropArea.dragging {
    background-color: #e0e0e0;
    border-color: #333;
}

#preview {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.preview-img {
    position: relative;
    display: inline-block;
}

.preview-img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.preview-img .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.7);
    color: #fff;
    border: none;
    cursor: pointer;
}

.preview-img img:hover {
    transform: scale(5);
    transition: transform 0.3s ease;
    z-index: 999;
}

.loadingIndicatorClass {
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.section {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 1px;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line-table {
    align-items: center;
    margin-top: 10px;
    width: 100%;
    border: none;
}

.line-table th,
.line-table td {
    border: 1px solid #ccc;
    padding: 5px;
}
.line-table input {
    margin-right: 5px;
    border: none;
    background: none;
    font-weight: bold;
}
.line-actions {
    display: none;
    margin-left: 10px;
}
.section-content {
    margin-top: 10px;
}
.fa {
    cursor: pointer;
}
.line:hover .line-actions,
.line input:focus + .line-actions {
    display: inline-block;
}

.section-header input {
    font-size: 1.2em;
    font-weight: bold;
}

.mandatory::after {
    content: "*";
    color: red;
}

.view-mode {
    color: blue;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

body {
    zoom: 80% !important;
}

/* Basic styles for the container */
.switch-container {
    position: relative;
    width: 60px;
    height: 34px;
}

/* Hide the default checkbox */
.ios-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Create the slider (the switch itself) */
.ios-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.ios-label::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When the checkbox is checked, add a blue background */
.ios-checkbox:checked + .ios-label {
    background-color: #2196f3;
}

/* Move the slider (the switch) to the right when checked */
.ios-checkbox:checked + .ios-label::before {
    transform: translateX(26px);
}
